@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding: 20px;
  color: red;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4em;
  font-weight: 700;
}

.btn-danger {
  background-color: red;
  margin: 5px;
}

.btn-danger:hover {
  background-color: red;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 3.6em;
  margin: 20px;
}

.lengthTitles {
  color: red;
  font-weight: bold;
}

#sessionLength, #breakLength {
  padding: 10px;
}

.col-md-4 {
  font-size: 1.4em;
}